# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
src/node_modules
dist
dist-ssr
*.local
settings.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
../.idea/*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Additional files
database.sqlite
#.env

.venv
/src-tauri/src/__pycache__
src-tauri/src/__pycache__/audio_analyzer.cpython-312.pyc
.DS_Store


# large files. use lfs from git to push these to remote
src-tauri/resources/audio_analyzer-x86_64-pc-windows-msvc.exe
src-tauri/src/build/audio_analyzer/audio_analyzer.pkg
